@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
::-webkit-scrollbar{
    display: none;
}
:root{
    --color_text_primary: #4aa7b6;
    --color_text_secundary: #242025;
    --color_text_tertiary:#b2dcdc;
    --main_color-primary: #129493;
    --main-color-secundary: #84749c;
    --background-color: #ffffff;
    --box_shadow: 0px 6px 50px -20px rgb(0,0,0,0.2);  
}

body{
    position: relative;
}

.decoration__body{
    top: 30%;
    position: absolute;
    z-index: -1;
    max-height: 1000px;
    
}
.decoration__body img{
    width: 100%;
    height: 100%;
}
header{
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 100;
    background-color: transparent;
    backdrop-filter: blur(5px);
}

.container__header{
    padding: 0px 20px;
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.logo{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.logo img{
    width: 200px;
}

.menu{
    display: flex;
    align-items: center;
}

.menu nav{
    margin: 0px 20px;
}
.menu ul{
    list-style: none;
    display: flex;
}

.menu ul li{
    margin: 20px 40px;
    font-size: 15px;
    text-align: center;
}

.menu ul li a{
    color: var(--color_text_secundary);
}

.menu ul li a:hover{
    color: var(--main_color-primary);
}

.btn{
    display: block;
    width: 200px;
    border: 2px solid;
    border-color: var(--main_color-primary);
    margin: 0px 50px;
    padding: 8px 20px;
    text-align: center;
    border-radius: 8px;
    color:var(--color_text_secundary);
    transition: all 350ms;
}

.btn:hover{
    color: white;
    background-color: var(--main_color-primary);
}

.container__cover{
    padding-top: 100px;
    background: rgb(255,255,255);
    background: linear-gradient(152deg, rgba(255,255,255,1) 0%, rgba(167,219,219,1) 51%, rgba(18,148,147,1) 100%);
    padding-bottom: 80px;
}

.cover{
    max-width: 1200px;
    margin: auto;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    padding: 0px 20px;
}

.text__cover{
    width: 100%;
    padding-right: 100px;
}

.text__cover h1{
    font-size: 50px;
    color: var(--color_text_secundary);
}

.text__cover p{
    font-size: 20px;
    color: var(--main-color-secundary);
}

.btn__hero{
    margin-top: 20px;
}
.image__cover{
width: auto;
}

.image__cover img{
    width: 400px;
}

/*Container SERVICIOS*/

.container__servicios{
    padding-top: 100px;
    width: 100%;
    background-color:transparent;
}



.servicios{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 20px;
    
}

.servicios__hero{
    max-width: 800px;
    margin: auto;
}

.servicios__hero p{
    color: var(--color_text_primary);
    letter-spacing: 10px;
    font-size: 15px;
    font-weight: 500;
}

.servicios__hero h1{
    font-size: 50px;
    font-weight: 600;
    color: var(--color_text_secundary);
}

.container__card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.card__servicios{
    max-width:350px;
    padding: 60px 40px;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    margin: 10px;
    transition: all 300ms;
    background-color: var(--background-color);
    z-index: 99;
}

.card__servicios:hover{
    border: 1px solid transparent;
    box-shadow: var(--box_shadow);
}

.card__servicios h1{
    font-size: 40px;
    font-weight: 600;
}

.card__servicios p{
    margin-top: 20px;
}

.card__servicios img{
    width: 70px;
}

/*CONTAINER SOBRE */

.container__sobre{
    padding-top: 100px;
    padding-bottom: 200px;
}

.sobre{
    max-width: 1200px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
}

.sobre__descripcion {
    width: 100%;
    margin-bottom: 100px;
}

.sobre__descripcion h2{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 20px;
}

.sobre__descripcion p{
    text-align: center;
    font-size: 20px;
}

/*FOOTER*/

footer{
    width: 100%;
    height: 200px;
    background-color: var(--main-color-secundary);
    position: absolute;
    bottom: 0;
}

.container__footer{
    padding-top: 20px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.subcontainer__footer{
    text-align: center;
}

.subcontainer__footer h2{
    color: var(--background-color);
    font-size: 30px;
    font-weight: 600;
}

.subcontainer__footer p{
    color: var(--background-color);
}